<div style="width: 400px; height: 400px;display: flex; flex-direction: row;">
  <canvas id="canvas"

  >{{chart}}</canvas>

  <div>
<mat-card [style]="{'background-color': freeEmbgColor }" class="chart-labels">free Employees <br> <b>{{freeEmployees[this.freeEmployees.length - 1]}}</b></mat-card>
<mat-card [style]="{'background-color': busyEmbgColor }" class="chart-labels">busy Employees <br> <b>{{busyEmployees[this.busyEmployees.length - 1]}}</b></mat-card>

  </div>
</div>

<div>
  Clock:
  <div>{{ time | date: 'hh:mm:ss a' }}</div>
  <!-- RxJS Clock: -->
  <!-- <div>{{ rxTime | date: 'hh:mm:ss a' }}</div> -->
</div>
