<section class="example-section">
<h3>Customize Your Settings</h3>
</section>

<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color" [indeterminate]="someComplete()"
      (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color" (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>



<!--
<div>
  <h4>Chart Settings</h4>
  <form style="display: flex;flex-direction: column;" (submit)="ChangeSettings()">
    <mat-checkbox>Hide Free Label</mat-checkbox>
    <mat-checkbox [formControl]="hideRequiredControl">Hide Busy Label</mat-checkbox>
    <mat-checkbox [formControl]="hideRequiredControl">Hide Chart </mat-checkbox>
    <button mat-raised-button color="primary" style="width: 50%;">Save changes</button>
  </form>
</div> -->
