.table-container {
  > table {
    margin: 1rem auto;
    width: 100%;
    height: auto;
  }
}

.new-button {
  margin-top: 10px;
  display: flex;
  > button {
    margin-left: auto;
  }
}

.mat-elevation-z8 {
  text-align: center;
  th {
    text-align: center;
  }
}
