<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row class="toolbar-content">
    <ul class="menu-items">
      <li ><a  [routerLink]="['/employee/list']">List</a></li>
      <li ><a [routerLink]="['/employee/chart']">Chart</a></li>
      <li ><a [routerLink]="['/employee/setting']">Settings</a></li>
    </ul>
      <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="content">
  <router-outlet></router-outlet>
</div>


